@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #1f1f1f;
  --color-mohef-blue: #0056d2;
  --color-mohef-navy: #0a2a35;
  --color-mohef-gray: #555555;
  --font-sans: var(--font-poppins);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}